[submodule "src/salalib"]
	path = src/libs/salalib
	url = git@github.com:/acanth-is/salalib.git
[submodule "src/genlib"]
	path = src/libs/genlib
	url = git@github.com:/acanth-is/genlib.git
[submodule "inst/extdata/testdata"]
	path = inst/extdata/testdata
	url = git@github.com:acanth-is/testdata.git
