# Copyright 2019-2023 Petros Koutsolampros
# Copyright 2019 Fani Kostourou
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

useDynLib(alcyon)

# R
export("refIDtoIndex")
export("processPointMap")
export("processPointMapAndLinks")
export("matchPointsToLines")
export("getTopFeatures")
export("getShapeGraph")
export("getPointmapData")
export("getPointmapLinks")
export("getPointmapDataAndLinks")
export("isovist")
export("isovist2pts")
export("makeIsovists")
export("stepdepth")
export("export")
export("convertMap")
export("import")
export("importLines")
export("VGA")
export("axialAnalysis")
export("segmentAnalysis")
export("linkMapCoords")
export("linkMapRefs")
export("agentAnalysis")
export("createGrid")
export("fillGrid")
export("makeVGAGraph")
export("unmakeVGAGraph")
export("makeDepthmapClassicColour")
export("depthmap.classic.colour")
export("makeAxmanesqueColour")
export("depthmap.axmanesque.colour")
export("makePurpleOrangeColour")
export("depthmap.purpleorange.colour")
export("makeBlueRedColour")
export("depthmap.bluered.colour")
export("makeGreyScaleColour")
export("depthmap.grayscale.colour")
export("makeNiceHSBColour")
export("depthmap.nicehsb.colour")
export("shapegraphToIGraph")
export("getShapeGraphConnections")
export("getShapeGraphLinksUnlinks")

# C++
#export("ShapeMap")
#export("name")

# libraries
import("sp")
import("sf")
importFrom("utils", "read.csv")
importFrom("utils", "write.table")
importFrom("utils", "tail","read.table")
importFrom("igraph", "graph.data.frame")
importFrom("igraph", "E")
importFrom("igraph", "E<-")
importFrom("Rcpp", "evalCpp")
importFrom("methods", "setClass")
importFrom("methods", "setMethod")
importFrom("methods", "new")
